extends layout

block content
    h1 Please log in
    if error
        p.
            #{error}
    form(action="/login",method="POST")
        input(type="hidden",name="_csrf",value=csrfToken)
        input(type="hidden",name="challenge",value=challenge)
        div(class="form-group row")
            label(for="email", class="col-sm-2 col-form-label") Email
            .col-sm-10
                input(type="email",id="email",name="email",placeholder="email@foobar.com")
        div(class="form-group row")
            label(for="password", class="col-sm-2 col-form-label") Email
            .col-sm-10
                    input(type="password",id="password",name="password")

        input(type="checkbox",id="remember",name="remember",value="1")
        label(for="remember") Remember me
        br
        button(type="submit", id="accept", class="btn btn-primary") Log in 
